@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.h1{
    color: blue;
}

.header{
    width: 100%;
    height: 900px;
    // border: 1px solid;
}

.navbar{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    // border: 1px solid;
}

.nav{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #fff;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15%;
    // border: 1px solid;
}

.Logo{
    display: flex;
    width: 60%;
    height: 100%;
    // border: 1px solid;
}

.Button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height: 100%;
    // border: 1px solid;
    ul{
       display: flex;
       gap: 45px;
       li{
        width: 90px;
        flex-shrink: 0;
        color: #211F54;
        font-family: 'Sen', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 55.006px; /* 166.7% */
        // border: 1px solid;

       }
       .button1{
        width: 174px;
        height: 54px;
        flex-shrink: 0;
        border-radius: 14px;
        background: #0075FF;
        border: none;
        color: #FFF;
        text-align: center;
        font-family: 'Sen', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 112.5% */
        &:hover{
            background-color: rgb(30, 210, 36);
            transition: 0.4s;
        }
       }
    }
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    // border: 1px solid;
}

.Ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    // border: 1px solid;
    li{
        flex-shrink: 0;
        width: 51px;
        color: #211F54;
        font-family: 'Sen', sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30.006px; /* 166.7% */
    }
}

.yozuv{
    display: flex;
    width: 100%;
    height: 88%;
    // border: 1px solid;
    .yozuvlar{
        padding: 250px 50px;
        width: 50%;
        height: 100%;
        // border: 1px solid;
        h1{
            // width: 518px;
            color: #211F54;
            font-family: 'Sen', sans-serif;
            font-size: 68px;
            font-style: normal;
            font-weight: 700;
            line-height: 73.984px; /* 108.8% */
            
        }
        p{
            color: #6E7191;
            font-family: 'Sen', sans-serif;
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 30.006px; /* 142.886% */
            margin-top: 22px;
            
        }
    }
    .rasm{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        // border: 1px solid;
        .opahon{
            width: 100%;
            height: 100%;
        }
    }

    .telvabut{
        display: flex;
        margin-top: 34px;
        button{
            width: 200px;
            height: 65px;
            flex-shrink: 0;
            border-radius: 14px;
            background: #0075FF;
            color: #FFF;
            text-align: center;
            font-family: 'Sen', sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px; /* 111.111% */
            border: none;
            &:hover{
                background-color: rgb(30, 210, 36);
                transition: 0.4s;
            }

        }
       .tel{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        // border: 1px solid;
        height: 70px;
        .tele{
            width: 100%;
            height: 100%;
        }
       }
    }
}

